<footer>
    <!-- Footer-area start -->
    <div class="footer-area footer-2">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-5 col-xs-12">
                    <div class="single-footer">
                        <h3 class="footer-title  title-border">Contact Us</h3>
                        <ul class="footer-contact">
                            <li><span>Address :</span>144 Xuan Thuy,<br>Cau Giay, Ha Noi</li>
                            <li><span>Cell-Phone :</span>84 - 0123456789</li>
                            <li><span>Email :</span>MHyenVjpPro_123@gmail.com</li>
                        </ul>
                    </div>
                </div>
                
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="single-footer">
                        <h3 class="footer-title  title-border">Email Newsletters</h3>
                        <div class="footer-subscribe">
                            <form action="#">
                                <input type="text" name="email" placeholder="Email Address..." />
                                <button class="button-one submit-btn-4" type="submit" data-text="Subscribe">Subscribe</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer-area end -->
</footer>
<!-- FOOTER END -->
