{% extends "base.html" %}

{% block content %}
<div class="login-area  pt-80 pb-80" style="background-color: antiquewhite;">
    <div class="container">
        <form method="POST">	
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="customer-login text-left">
                        <h4 class="title-1 title-border text-uppercase mb-30">Login</h4>

                        <input type="text" placeholder="User name here..." name="user_name">
                        <input type="password" placeholder="Password" name="password">

                        <button type="submit" data-text="login" class="button-one submit-button mt-15">login</button>
                    </div>					
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock content %}