<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/3d.css">
</head>
<body>
    <div class="card">
        <span style="--i:0"></span>
        <img src="/static/img/3dchair/0.png">
        <span style="--i:1"></span>
        <img src="/static/img/3dchair/1.png">
        <span style="--i:2"></span>
        <img src="/static/img/3dchair/2.png">
        <span style="--i:3"></span>
        <img src="/static/img/3dchair/3.png">
        <span style="--i:4"></span>
        <img src="/static/img/3dchair/4.png">
        <span style="--i:5"></span>
        <img src="/static/img/3dchair/5.png">
        <span style="--i:6"></span>
        <img src="website/static/img/3dchair/6.png">
    </div>
</body>

</html>